[Unit]
Description = PellX pellets burner monitor daemon
After = network.target network-online.target
Wants = network.target network-online.target

[Service]
Type = simple
ExecStart = /usr/local/bin/pellxd
Restart = on-failure
RestartSec = 10s

[Install]
WantedBy = multi-user.target
